@charset "UTF-8";
/* página index  uso de positions y un poco de flex*/
.mainIndex {
  position: relative;
  height: 515px;
  background-color: #201d19;
}
.mainIndex section {
  position: absolute;
  top: 10px;
  left: 15%;
  width: 70%;
  height: 480px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.conoceIndex {
  position: relative;
  width: 80%;
  height: 135px;
  left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.conoceIndex article {
  position: absolute;
  width: 80%;
  height: 70%;
  left: 10%;
  top: 10%;
  text-align: justify;
}

.topProducts {
  position: relative;
  width: 80%;
  height: 700px;
  left: 10%;
  margin-top: 10px;
  text-align: center;
}
.topProducts article {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.iframeDown {
  position: relative;
  width: 90%;
  height: 460px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  left: 5%;
  padding-top: 10px;
}

/* Tamaño tablet-Página inicio */
@media screen and (max-width: 840px) {
  .mainIndex {
    height: 470px;
  }
  .mainIndex section {
    height: 440px;
  }
  .mainIndex .imageMain {
    /* Aplicable a toda imagen dentro de un main */
    width: 510px;
    height: 420px;
  }
  .conoceIndex {
    position: relative;
    width: 90%;
    height: 160px;
    left: 5%;
    margin-bottom: 10px;
  }
}
/* Tamaño celular-Página inicio */
@media screen and (max-width: 500px) {
  .mainIndex {
    height: 400px;
  }
  .mainIndex section {
    height: 370px;
  }
  .mainIndex .imageMain {
    /* Aplicable a toda imagen dentro de un main */
    width: 310px;
    height: 350px;
    margin: 3px;
  }
  .conoceIndex {
    height: 200px;
    color: #0a0908;
  }
  .conoceIndex article {
    width: 100%;
    height: 80%;
    left: 0;
    top: 10%;
  }
  .topProducts {
    width: 100%;
    height: auto;
    left: 0;
  }
  .topProducts article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .topProducts article .imageProductCont {
    width: 310px;
    height: 290px;
    padding: 0;
  }
  .topProducts article .imageProductCont .imageProduct {
    width: 310px;
    height: 290px;
  }
  .mapIndex {
    display: none;
  }
}
/* Página Nosotros*/
.imageStory {
  width: 500px;
  height: 460px;
}

.contTus {
  display: grid;
  grid-template-rows: auto 150px;
  grid-template-columns: 2fr 2fr;
  grid-template-areas: "history imageStory" "partners partners";
}
.contTus .contTus__history {
  grid-area: history;
  padding: 10px;
  background-color: #201d19;
}
.contTus .contTus__history p {
  margin-bottom: 2rem;
}
.contTus .contTus__image {
  grid-area: imageStory;
  padding: 10px;
  text-align: center;
}
.contTus .contTus__partner {
  grid-area: partners;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #463b2d;
}
.contTus .contTus__partner article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.contTus .contTus__partner--image {
  width: 60px;
  height: 60px;
  margin: 5px;
}

/* Tamaño tablet-Página nosotros */
@media screen and (max-width: 840px) {
  .imageStory {
    width: 360px;
    height: 410px;
  }
  .conTus__history__title {
    font-size: 17px;
    text-align: center;
  }
}
/* Tamaño celular página nosotros */
@media screen and (max-width: 500px) {
  .contTus {
    display: grid;
    grid-template-rows: auto 320px auto;
    grid-column: 1fr 1fr;
    grid-template-areas: "history history" "imageStory imageStory" "partners partners";
  }
  .contTus .conTus__history__title {
    background-color: #f9f7f3;
    color: #4f000b;
    text-align: center;
  }
  .contTus__image {
    text-align: center;
  }
  .contTus__image .imageStory {
    width: 300px;
    height: 300px;
  }
}
/* Página Productos */
/* clases bootstrap */
.container-fluid {
  position: relative;
  height: 420px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.container-fluid .carousel-indicators {
  bottom: -20px;
}
.container-fluid .row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.container-fluid .col-lg-4,
.container-fluid .col-md-6,
.container-fluid .col-sm-10 {
  position: relative;
  text-align: center;
}
.container-fluid .carousel-control-prev,
.container-fluid .carousel-control-next {
  width: 5%;
}

/* Tamaño tablet y celular, poco, ya que casi todo fué con bootstrap en el html */
@media screen and (max-width: 870px) {
  .lgCarousel {
    display: none;
  }
  .headingBottom {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .imageProduct {
    width: 280px;
    height: 280px;
  }
}
/* Página como comprar, usa grid, se responsive */
.contTsteps {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 500px;
  grid-template-areas: "howTo howTo buy";
  text-align: justify;
}
.contTsteps .contTsteps__title {
  font-size: 21px;
}
.contTsteps .contTsteps__how {
  grid-area: howTo;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #201d19;
  padding: 10px;
}
.contTsteps .contTsteps__section--style {
  border-top: 1px groove #0a0908;
}
.contTsteps .contTsteps__section--style a {
  text-decoration-line: underline;
}
.contTsteps .contTsteps__buyProduct {
  grid-area: buy;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

/* Tamaño tablet-Página como comprar */
@media screen and (max-width: 840px) {
  .contTsteps {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 470px;
    grid-template-areas: "howTo buy";
    text-align: left;
  }
  .contTsteps .contTsteps__title {
    font-size: 17px;
  }
  .contTsteps .contTsteps__buyProduct {
    color: #0a0908;
  }
}
/* Tamaño celular-Página como comprar */
@media screen and (max-width: 500px) {
  .contTsteps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "howTo howTo" "buy buy";
  }
  .contTsteps .contTsteps__title {
    background-color: #f9f7f3;
    color: #4f000b;
    text-align: center;
  }
  .contTsteps .contTsteps__section--style {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* Página contacto usa grid y BEM, responsive, se mantiene header/footer de positions y bootstrap*/
.contactT {
  /* Contenedor grid página contacto formulario, info, visit*/
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 50px auto 460px;
  row-gap: 10px;
  grid-template-areas: "titl titl titl titl" "info info form form" "visit visit visit visit";
  justify-items: center;
}

.contactT__title {
  grid-area: titl;
  width: 50%;
  align-self: center;
  font-size: 21px;
  color: #4f000b;
  text-align: center;
}

.contactT__info {
  grid-area: info;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contactT__info__article {
  width: 450px;
  height: 230px;
  border-top: 1px groove #0a0908;
}

.contactT__info__article--sentence {
  text-align: center;
  margin-bottom: 3rem;
}

.contactT__form {
  grid-area: form;
  padding-left: 10px;
  padding-right: 10px;
}

form {
  background-color: #4f000b;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
}

.contactT__form__element--inrow {
  width: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
  color: #f9f7f3;
}

input[type=text] {
  border: 3px groove #0a0908;
  background-color: transparent;
  color: #f9f7f3;
  width: 75%;
}

input[type=text]:focus {
  background-color: #201d19;
}

input[type=email] {
  border: 3px groove #0a0908;
  background-color: transparent;
  color: #f9f7f3;
  width: 75%;
}

input[type=email]:focus {
  background-color: #201d19;
}

input[type=reset] {
  border: 3px groove #0a0908;
  background-color: #201d19;
  color: #f9f7f3;
  width: 35%;
}

input[type=submit] {
  border: 3px groove #0a0908;
  background-color: #201d19;
  color: #f9f7f3;
  width: 35%;
}

select {
  border: 3px groove #0a0908;
  background-color: #201d19;
  color: #f9f7f3;
  width: 40%;
  text-align: center;
}

.contactT__visit {
  grid-area: visit;
}

.contactT__visit--size {
  width: 1000px;
  height: 450px;
}

@media screen and (max-width: 1000px) {
  .contactT__visit--size {
    width: 850px;
    height: 450px;
  }
}
/* Tamaño tablet-Página contacto */
@media screen and (max-width: 840px) {
  .contactT {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 30px auto 400px;
    grid-template-areas: "titl titl" "info form" "visit visit";
  }
  .contactT__title {
    font-size: 17px;
  }
  .contactT__info__article {
    width: auto;
    color: #0a0908;
  }
  .contactT__form__element--inrow {
    width: 400px;
  }
  .contactT__visit--size {
    width: 520px;
    height: 390px;
  }
}
/* Tamaño celular-Página contacto */
@media screen and (max-width: 500px) {
  .contactT {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 300px auto 350px;
    row-gap: 5px;
    grid-template-areas: "titl" "info" "form" "visit";
  }
  .contactT__title {
    width: 100%;
    background-color: #f9f7f3;
  }
  .contactT__info__article {
    width: 300px;
    height: auto;
  }
  .contactT__info__article--sentence {
    text-align: justify;
    margin-bottom: 1rem;
  }
  form {
    padding: 0;
  }
  form .contactT__form__element--inrow {
    width: 300px;
  }
  .contactT__visit--size {
    width: 300px;
    height: 340px;
  }
}
/* Se usan en todo el sitio (o casi todo)  html, body, header, footer*/
* {
  /* Reseteo CSS, border box-permite que el contenedor mantenga el tamaño que le damos */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Hace que el valor de 1rem=10px, ya que por default es 16px */
  font-size: 62.5%;
}

body {
  /* Tipo de fuente a usar, es externa, y de no poder se usa sans-serif, recuerda se prioriza id-class-tag*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #adc178;
  color: #f9f7f3;
}

a {
  text-decoration: none;
  color: #f9f7f3;
}

.headingBottom {
  /* aplicable a todos los "h" que esten en la parte baja del contenedor */
  width: 50%;
  height: 25px;
  color: #4f000b;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 25%;
  font-size: 18px;
  background: linear-gradient(to left, beige, #afa38a);
}

.headingTop {
  /* aplicable a todos los "h" que esten en la parte alta del contenedor */
  width: 30%;
  height: 25px;
  color: #4f000b;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 35%;
  font-size: 21px;
  border-bottom: 1.5px groove #4f000b;
}

.imageMain {
  /* Aplicable a toda imagen dentro de un main */
  width: 800px;
  height: 450px;
  margin: 5px 10px;
}

.imageProduct {
  /* Aplicable a toda imagen de producto */
  width: 330px;
  height: 310px;
  text-align: center;
}

.imageProductCont {
  /* Aplicable a todo contenedor de imagen de producto */
  position: relative;
  display: inline-block;
  width: 340px;
  height: 320px;
  padding: 5px;
  background-color: #f9f7f3;
  margin: 5px 5px;
}

.logoMini {
  /* Son todos los logos chiquitos, de redes sociales, contacto */
  width: 30px;
  height: 30px;
  margin: 5px;
}

.communicateMedia {
  /* Aquí están contenidos los mini logos de comunicación */
  position: absolute;
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 5px;
}

/* HEADER */
.logoHeader {
  /* Aplicable a la imagen del logo del negocio en el header */
  width: 120px;
  height: 120px;
}

.headerCont {
  /* Encabezado */
  position: relative;
  width: 100%;
  height: 140px;
  background-color: #4f000b;
}
.headerCont .logoHeaderCont {
  /* Donde está contenida la imagen del logo del negocio en el header */
  position: absolute;
  width: 15%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 10px;
}
.headerCont .pageTitle {
  /* Título, nombre del negocio */
  font-family: "Delicious Handrawn", "Poppins", sans-serif;
  font-size: 50px;
  position: absolute;
  width: 60%;
  height: 50%;
  padding-top: 10px;
  left: 20%;
  text-align: center;
}
.headerCont .navigator {
  /* navegador */
  position: absolute;
  width: 70%;
  height: 30%;
  top: 55%;
  left: 15%;
  text-align: center;
  font-size: 18px;
}
.headerCont .navigator .nav {
  /* bootstrap clases header */
  justify-content: space-evenly;
}
.headerCont .navigator .nav-item {
  background-color: #4f000b;
}
.headerCont .navigator .nav-link {
  color: #f9f7f3;
  padding: 3px 4px;
}

/* FOOTER */
.footerCont {
  position: relative;
  width: 100%;
  height: 130px;
  background-color: #0a0908;
}

.contactFooter {
  /* Contactanos y horario de atención en footer */
  position: absolute;
  width: 20%;
  height: 50%;
  top: 0;
  left: 0;
  padding-left: 10px;
  padding-top: 10px;
}

.logoFooterCont {
  /* Donde está contenida la imagen del logo del negocio en el footer */
  position: absolute;
  width: 60%;
  height: 70%;
  top: 0;
  left: 20%;
  padding-top: 5px;
  text-align: center;
}

.logoFooter {
  /* Aplicable a la imagen del logo del negocio en el footer */
  width: 75px;
  height: 75px;
  margin: 5px;
}

.copyrightAutor {
  /* Copyright en footer */
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  padding-bottom: 10px;
  text-align: center;
  border-top-style: groove;
  border-top-color: gray;
}

/* Tamaño tablet aplicable a todo el sitio */
@media screen and (max-width: 840px) {
  body {
    /* Tipo de fuente a usar, es externa, y de no poder se usa sans-serif, recuerda se prioriza id-class-tag*/
    font-size: 14px;
  }
  .headingTop {
    font-size: 17px;
  }
  .headingBottom {
    font-size: 17px;
  }
  .imageProduct {
    width: 310px;
    height: 290px;
  }
  .logoMini {
    width: 21px;
    height: 21px;
  }
  /* HEADER */
  .logoHeader {
    width: 70px;
    height: 70px;
  }
  .headerCont {
    height: 100px;
  }
  .headerCont .pageTitle {
    font-size: 30px;
  }
  .headerCont .navigator {
    font-size: 12px;
    width: 80%;
  }
  /* FOOTER */
  .footerCont {
    font-size: 13px;
  }
  .footerCont .logoFooter {
    width: 65px;
    height: 65px;
  }
}
/* Tamaño celular aplicable a todo el sitio */
@media screen and (max-width: 500px) {
  .headingTop {
    /* aplicable a todos los "h" que esten en la parte alta del contenedor */
    width: 100%;
    height: 25px;
    left: 0;
    border-bottom: 1.5px groove #4f000b;
    background: linear-gradient(to left, beige, #afa38a);
  }
  /* HEADER */
  .headerCont {
    height: 80px;
  }
  .headerCont .logoHeaderCont {
    display: none;
  }
  .headerCont .pageTitle {
    font-size: 19px;
    left: 0;
    width: 60%;
    text-align: left;
    padding-left: 10px;
  }
  .headerCont .logoMini {
    width: 18px;
    height: 18px;
  }
  .headerCont .navigator {
    font-size: 9.5px;
    left: 0;
    width: 100%;
  }
  /* FOOTER */
  .footerCont {
    font-size: 10px;
  }
  .footerCont .contactFooter {
    top: 30%;
    left: 50%;
    width: 50%;
    height: 40%;
    text-align: right;
    padding-top: 0;
    padding-right: 10px;
    display: flex;
    flex-direction: column-reverse;
  }
  .footerCont .communicateMedia {
    width: 50%;
    height: 30%;
  }
  .footerCont .logoFooterCont {
    left: 0;
    width: 50%;
    height: 50%;
    text-align: left;
  }
  .footerCont .logoFooter {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
