/* Se usan en todo el sitio (o casi todo) */
* {
    /* Reseteo CSS, border box-permite que el contenedor mantenga el tamaño que le damos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Hace que el valor de 1rem=10px, ya que por default es 16px */
    font-size: 62.5%;
}

body {
    /* Tipo de fuente a usar, es externa, y de no poder se usa sans-serif, recuerda se prioriza id-class-tag*/
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #adc178;
    color: #f9f7f3;
}

a {
    text-decoration: none;
    color: #f9f7f3;
}

/* hr{color: transparent;}  se usa en párrafos ahorita siempre no lo usé*/

.pageTitle {
    /* Título, nombre del negocio */
    font-family: 'Delicious Handrawn', 'Poppins', sans-serif;
    font-size: 50px;
    position: absolute;
    height: 50%;
    width: 60%;
    padding-top: 10px;
    left: 20%;
    text-align: center;
}

.headingBottom {
    /* aplicable a todos los "h" que esten en la parte baja del contenedor */
    height: 25px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 25%;
    text-align: center;
    background-color: beige;
    color: #4f000b;
    font-size: 16px;
}

.headingTop {
    /* aplicable a todos los "h" que esten en la parte alta del contenedor */
    height: 25px;
    width: 30%;
    position: absolute;
    top: 0;
    left: 35%;
    text-align: center;
    background-color: beige;
    color: #4f000b;
    font-size: 19px;
}

.imageMain {
    /* Aplicable a toda imagen dentro de un main */
    height: 450px;
    width: 800px;
    margin: 5px 10px;
}

.imageMainCont {
    /* Aplicable a todo contenedor de imagen main */
    height: 460px;
    width: 820px;
    background-color: #f9f7f3;
}

.imageProduct {
    /* Aplicable a toda imagen de producto */
    height: 310px;
    width: 330px;
    text-align: center;
}

.imageProductCont {
    /* Aplicable a todo contenedor de imagen de producto */
    position: relative;
    display: inline-block;
    height: 320px;
    width: 340px;
    padding: 5px;
    background-color: #f9f7f3;
    margin: 5px 5px;

}

.nav-item {
    /* bootstrap clases header */
    background-color: #4f000b;
    /* border-left: .5px groove #adc178;  por si no se nota*/
}

.nav {
    justify-content: space-evenly;
}

.nav-link {
    color: #f9f7f3;
    padding: 3px 4px;
}

/* fin bootstrap nav */

.logoHeader {
    /* Aplicable a la imagen del logo del negocio en el header */
    height: 120px;
    width: 120px;
}

.logoHeaderCont {
    /* Donde está contenida la imagen del logo del negocio en el header */
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 10px;
    height: 100%;
    width: 15%;
}

.navigator {
    /* navegador */
    position: absolute;
    height: 30%;
    top: 55%;
    left: 15%;
    width: 70%;
    text-align: center;
    font-size: 18px;
}

.headerCont {
    /* Encabezado */
    position: relative;
    height: 140px;
    width: 100%;
    background-color: #4f000b;
}

.logoMini {
    /* Son todos los logos chiquitos, de redes sociales, contacto */
    height: 30px;
    width: 30px;
    margin: 5px;
}

.communicateMedia {
    /* Aquí están contenidos los mini logos de comunicación */
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 5px;
    height: 50%;
    width: 20%;
    display: flex;
    justify-content: end;
}

.footerCont {
    position: relative;
    height: 130px;
    width: 100%;
    background-color: #0a0908;
    font-size: 15px;
}

.contactFooter {
    /* Contactanos y horario de atención en footer */
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-top: 10px;
    height: 50%;
    width: 20%;
}

.copyrightAutor {
    /* Copyright en footer */
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    height: 30%;
    width: 100%;
    text-align: center;
    border-top-style: groove;
    border-top-color: gray;
}

.logoFooter {
    /* Aplicable a la imagen del logo del negocio en el footer */
    height: 75px;
    width: 75px;
    margin: 5px;
}

.logoFooterCont {
    /* Donde está contenida la imagen del logo del negocio en el footer */
    position: absolute;
    top: 0;
    left: 20%;
    padding-top: 5px;
    height: 70%;
    width: 60%;
    text-align: center;
}


/* página index  uso de positions y un poco de flex*/
.mainIndex {
    position: relative;
    height: 515px;
    background-color: #201d19;
}

.mainIndex section {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 480px;
    display: flex;
    justify-content: center;
}

.conoceIndex {
    position: relative;
    height: 150px;
    width: 80%;
    left: 10%;
    margin-bottom: 10px;
}
.conoceIndex article{
    position: absolute;
    height: 70%;
    width: 80%;
    left: 10%;
    top: 10%;
    font-size: 16px;
}

.topProducts {
    position: relative;
    height: 700px;
    width: 80%;
    left: 10%;
    text-align: center;
}

.topProducts article {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iframeDown {
    position: relative;
    height: 450px;
    width: 90%;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Tamaño tablet página inicio */
@media screen and (max-width:840px) {
    .imageMain {
        /* Aplicable a toda imagen dentro de un main */
        height: 420px;
        width: 510px;
    }

    .imageMainCont {
        /* Aplicable a todo contenedor de imagen main */
        height: 430px;
        width: 530px;
    }

    .mainIndex {
        height: 470px;
    }

    .mainIndex section {
        height: 440px;
    }
}

/* Tamaño celular-Página inicio */
@media screen and (max-width:500px) {
    .imageMain {
        /* Aplicable a toda imagen dentro de un main */
        height: 350px;
        width: 310px;
        margin: 3px;
    }

    .imageMainCont {
        /* Aplicable a todo contenedor de imagen main */
        height: 360px;
        width: 315px;
    }

    .mainIndex {
        height: 400px;
    }

    .mainIndex section {
        height: 370px;
    }

    .conoceIndex {
        height: 250px;
        color: #0a0908;
    }

    /* Ya está en pagina productos .imageProduct {
        height: 300px;
        width: 310px;
    } */

    .topProducts {
        width: 100%;
        left: 0;
        height: auto;
    }

    .topProducts article {
        flex-direction: column;
        align-items: center;
    }

    .imageProductCont {
        height: 290px;
        width: 310px;
        padding: 0;
    }

    .mapIndex {
        display: none;
    }

}

/* Página Nosotros */
.contTus {
    display: grid;
    grid-template-rows: auto 150px;
    grid-template-columns:2fr 2fr;
    grid-template-areas:
        "history imageStory"
        "partners partners";
}

.contTus__history {
    grid-area: history;
    padding: 10px;
    background-color: #201d19;
}

.contTus__history p{
    margin-bottom: 2rem;
}
/* .contTus__history article {
    
} */

.contTus__image {
    grid-area: imageStory;
    padding: 10px;
    text-align: center;
}

.imageStory {
    width: 500px;
    height: 460px;
}

.contTus__partner {
    grid-area: partners;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #463b2d;
    
}
.contTus__partner article{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contTus__partner--image {
    height: 60px;
    width: 60px;
    margin: 5px;
}

/* Tamaño tablet página nosotros */
@media screen and (max-width:840px){
    .imageStory {
        width: 390px;
        height: 410px;
    }
}

/* Tamaño celular página nosotros */
@media screen and (max-width:500px){
    .contTus{
        display: grid;
        grid-template-rows: auto 320px auto;
        grid-column: 1fr 1fr;
        grid-template-areas: 
        "history history"
        "imageStory imageStory"
        "partners partners";
    }
    .contTus__history h2{
        background-color: #f9f7f3;
        color: #0a0908;
        text-align: center;
    }
    .contTus__image{
        text-align: center;
    }
    .imageStory {
        width: 300px;
        height: 300px;
    }
}

/* Página Productos */
/* clases bootstrap */
.col-lg-4,
.col-md-6,
.col-sm-10 {
    position: relative;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.container-fluid {
    position: relative;
    height: 420px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-indicators {
    bottom: -20px;
}

@media screen and (min-width:850px) {
    .mdCarousel {
        display: none;
    }

    .smCarousel {
        display: none;
    }

}

@media screen and (max-width:1000px) {
    .imageProduct {
        height: 280px;
        width: 280px;
    }
}

@media screen and (max-width:870px) {
    .lgCarousel {
        display: none;
    }

    .headingBottom {
        font-size: 14px;
    }

    .smCarousel {
        display: none;
    }

    .imageProduct {
        height: 290px;
        width: 310px;
    }


}


/* Página como comprar, usa grid, se responsive */
.contTsteps {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 500px;
    grid-template-areas:
        "howTo howTo buy";
    font-size: 15px;
    text-align: justify;
}

.contTsteps__how {
    grid-area: howTo;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #201d19;
    padding: 10px;
}

.contTsteps__section--style {
    border-top: 1px groove #0a0908;
}

.contTsteps__section--style a {
    text-decoration-line: underline;
}

.contTsteps__buyProduct {
    grid-area: buy;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

/* Tamaño tablet-Página como comprar */
@media screen and (max-width:840px) {

    /* HEADER */
    .headerCont {
        height: 100px;
    }

    .logoHeader {
        height: 70px;
        width: 70px;
    }

    .pageTitle {
        font-size: 30px;
    }

    .navigator {
        font-size: 10px;
        width: 80%;
    }

    .logoMini {
        height: 21px;
        width: 21px;
    }

    /* FOOTER */
    .logoFooter {
        height: 65px;
        width: 65px;
    }

    /* GRID */
    .contTsteps {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 460px;
        grid-template-areas:
            "howTo buy";
        font-size: 13px;
        text-align: left;
    }

    .contTsteps__buyProduct {
        color: #0a0908;
    }
}

/* Tamaño celular-Página como comprar */
@media screen and (max-width:500px) {
    .contTsteps {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 480px auto;
        grid-template-areas:
            "howTo howTo"
            "buy buy";
        font-size: 12px;
    }

    .contTsteps__title {
        background-color: #f9f7f3;
        color: #0a0908;
        text-align: center;
    }

    .contTsteps__section--style {
        list-style-type: none;
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* Página contacto usa grid y BEM, responsive, se mantiene header/footer de positions y bootstrap*/
.contactT {
    /* Contenedor grid página contacto formulario, info, visit*/
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 50px 460px 460px;
    row-gap: 10px;
    grid-template-areas:
        "titl titl titl titl"
        "info info form form"
        "visit visit visit visit";
    justify-items: center;
    color: #0a0908;
}

.contactT__title {
    grid-area: titl;
    width: 50%;
    text-align: center;
    align-self: center;
}

.contactT__info {
    grid-area: info;
    /* width: 80%; para ir probando como queda */
    padding-left: 10px;
    padding-right: 10px;
}

.contactT__info__article {
    height: 230px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contactT__info__article--sentence {
    border-bottom: 1px groove #0a0908;
    text-align: center;
    font-size: 14px;
    color: #0a0908
}

.contactT__form {
    grid-area: form;
    /* width: 80%; */
    padding-left: 10px;
    padding-right: 10px;
}

form {
    background-color: #4f000b;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

input[type=text] {
    border: 3px groove #0a0908;
    background-color: transparent;
    width: 75%;
    color: #f9f7f3;
}

input[type=text]:focus {
    background-color: #201d19;
}

input[type=email] {
    border: 3px groove #0a0908;
    background-color: transparent;
    width: 75%;
    color: #f9f7f3;
}

input[type=email]:focus {
    background-color: #201d19;
}

input[type=reset] {
    border: 3px groove #0a0908;
    background-color: #201d19;
    width: 35%;
    color: #f9f7f3;
}

input[type=submit] {
    border: 3px groove #0a0908;
    background-color: #201d19;
    width: 35%;
    color: #f9f7f3;
}

select {
    border: 3px groove #0a0908;
    background-color: #201d19;
    width: 40%;
    color: #f9f7f3;
    text-align: center;
}

.contactT__form__element--inrow {
    width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: #f9f7f3;
}

.contactT__visit {
    grid-area: visit;
}

.contactT__visit--size {
    width: 1000px;
    height: 450px;
}

/* Tamaño tablet-Página contacto */
@media screen and (max-width:840px) {
    .contactT {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 30px auto 400px;
        grid-template-areas:
            "titl titl"
            "info form"
            "visit visit";
    }

    .contactT__title {
        font-size: 15px;
    }

    .contactT__info__article {
        width: auto;
    }

    .contactT__form__element--inrow {
        width: 400px;
    }

    .contactT__visit--size {
        width: 520px;
        height: 390px;
    }
}



/* Tamaño celular-Página contacto */
@media screen and (max-width: 500px) {

    /* HEADER */
    .headerCont {
        height: 80px;
    }

    .logoHeaderCont {
        display: none;
    }

    .pageTitle {
        font-size: 19px;
        left: 0;
        width: 60%;
        text-align: left;
        padding-left: 10px;
    }

    .navigator {
        font-size: 9.5px;
        left: 0;
        width: 100%;
    }

    .logoMini {
        height: 18px;
        width: 18px;
    }

    /* FOOTER */
    .footerCont {
        font-size: 10px;
    }

    .communicateMedia {
        width: 50%;
        height: 30%;
    }

    .contactFooter {
        top: 30%;
        left: 50%;
        height: 40%;
        width: 50%;
        text-align: right;
        padding-top: 0;
        padding-right: 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .logoFooterCont {
        left: 0;
        width: 50%;
        height: 50%;
        text-align: left;
    }

    .logoFooter {
        height: 50px;
        width: 50px;
    }

    /* CONTENEDOR GRID pagina contacto formulario, info, visit*/
    .contactT {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 300px auto 350px;
        row-gap: 5px;
        grid-template-areas:
            "titl"
            "info"
            "form"
            "visit";
    }

    .contactT__title {
        font-size: 15px;
        width: 100%;
        background-color: #f9f7f3;
    }

    .contactT__info__article {
        width: 300px;
        height: 140px
    }

    .contactT__info__article--sentence {
        font-size: 13px;
        text-align: justify;
    }

    form {
        font-size: 13px;
        padding: 0;
    }

    .contactT__form__element--inrow {
        width: 300px;
    }

    .contactT__visit--size {
        width: 300px;
        height: 340px;
    }

    /* Tamaño celular-Página contacto FIN */
}




/*  --PRUEBA-- OBJECT FIT .mainImg3{
    height: 450px;
    width: 700px;
    object-fit: cover;  
} */