/* Página como comprar, usa grid, se responsive */
.contTsteps {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 500px;
    grid-template-areas:
        "howTo howTo buy";
    text-align: justify;

    .contTsteps__title{
        font-size: map-get($sizesFont,headingTopL);
    }
    .contTsteps__how {
        grid-area: howTo;
        @include flex-column-between;
        background-color: map-get($colors,gray-dark);
        padding: 10px;
    }

    .contTsteps__section--style {
        border-top: 1px groove map-get($colors,notSoBlack);

        a {
            text-decoration-line: underline;
        }
    }

    .contTsteps__buyProduct {
        grid-area: buy;
        @include flex-column-between;
        padding: 10px;
    }
}

/* Tamaño tablet-Página como comprar */
@media screen and (max-width:840px) {
    .contTsteps {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 470px;
        grid-template-areas:
            "howTo buy";
        text-align: left;

        .contTsteps__title {
            font-size: map-get($sizesFont,headingsT-S);
        }

        .contTsteps__buyProduct {
            color: map-get($colors,notSoBlack);
        }
    }
}

/* Tamaño celular-Página como comprar */
@media screen and (max-width:500px) {
    .contTsteps {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "howTo howTo"
            "buy buy";

        .contTsteps__title {
            background-color: map-get($colors,notSoWhite);
            color: map-get($colors,red-wine);
            text-align: center;
        }

        .contTsteps__section--style {
            list-style-type: none;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}