/* Página contacto usa grid y BEM, responsive, se mantiene header/footer de positions y bootstrap*/
.contactT {
    /* Contenedor grid página contacto formulario, info, visit*/
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 50px auto 460px;
    row-gap: 10px;
    grid-template-areas:
        "titl titl titl titl"
        "info info form form"
        "visit visit visit visit";
    justify-items: center;
}

.contactT__title {
    grid-area: titl;
    width: 50%;
    align-self: center;
    font-size: map-get($sizesFont,headingTopL);
    @include headingStyle;
}

.contactT__info {
    grid-area: info;
    padding-left: 10px;
    padding-right: 10px;
    @include flex-column-evenly;
}

.contactT__info__article {
    @include sizesWH (450px, 230px);
    border-top: 1px groove map-get($colors,notSoBlack);
}

.contactT__info__article--sentence {
    text-align: center;
    margin-bottom: 3rem;
}

.contactT__form {
    grid-area: form;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    background-color: map-get($colors,red-wine);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

.contactT__form__element--inrow {
    width: 450px;
    @include flex-row-between;
    padding: 5px;
    color: map-get($colors,notSoWhite);
}

input[type=text] {
    @include formElementsStyle-transparent;
    width: 75%;
}

input[type=text]:focus {
    background-color: map-get($colors,gray-dark);
}

input[type=email] {
    @include formElementsStyle-transparent;
    width: 75%;
}

input[type=email]:focus {
    background-color: map-get($colors,gray-dark);
}

input[type=reset] {
    @include formElementsStyle-notTransparent;
    width: 35%;
}

input[type=submit] {
    @include formElementsStyle-notTransparent;
    width: 35%;
}

select {
    @include formElementsStyle-notTransparent;
    width: 40%;
    text-align: center;
}

.contactT__visit {
    grid-area: visit;
}

.contactT__visit--size {
    @include sizesWH (1000px, 450px);
}

@media screen and (max-width:1000px) {
    .contactT__visit--size {
        @include sizesWH (850px, 450px);
    }
}

/* Tamaño tablet-Página contacto */
@media screen and (max-width:840px) {
    .contactT {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 30px auto 400px;
        grid-template-areas:
            "titl titl"
            "info form"
            "visit visit";
    }

    .contactT__title {
        font-size: map-get($sizesFont,headingsT-S);
    }

    .contactT__info__article {
        width: auto;
        color: map-get($colors,notSoBlack);
    }

    .contactT__form__element--inrow {
        width: 400px;
    }

    .contactT__visit--size {
        @include sizesWH (520px, 390px);
    }
}

/* Tamaño celular-Página contacto */
@media screen and (max-width: 500px) {
    .contactT {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 300px auto 350px;
        row-gap: 5px;
        grid-template-areas:
            "titl"
            "info"
            "form"
            "visit";
    }

    .contactT__title {
        width: 100%;
        background-color: map-get($colors,notSoWhite);
    }

    .contactT__info__article {
        @include sizesWH (300px, auto);
    }

    .contactT__info__article--sentence {
        text-align: justify;
        margin-bottom: 1rem;
    }

    form {
        padding: 0;

        .contactT__form__element--inrow {
            width: 300px;
        }
    }

    .contactT__visit--size {
        @include sizesWH (300px, 340px);
    }
}