/* página index  uso de positions y un poco de flex*/
.mainIndex {
    position: relative;
    height: 515px;
    background-color: map-get($colors,gray-dark);

    section {
        position: absolute;
        top: 10px;
        left: 15%;
        @include sizesWH (70%, 480px);
        @include flex-row-center;
    }
}

.conoceIndex {
    position: relative;
    @include sizesWH (80%, 135px);
    left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;

    article {
        position: absolute;
        @include sizesWH (80%, 70%);
        left: 10%;
        top: 10%;
        text-align: justify;
    }
}

.topProducts {
    position: relative;
    @include sizesWH (80%, 700px);
    left: 10%;
    margin-top: 10px;
    text-align: center;

    article {
        padding-top: 10px;
        @include flex-row-center;
    }
}

.iframeDown {
    position: relative;
    @include sizesWH (90%, 460px);
    @include flex-row-evenly;
    left: 5%;
    padding-top: 10px;
}


/* Tamaño tablet-Página inicio */
@media screen and (max-width:840px) {
    .mainIndex {
        height: 470px;

        section {
            height: 440px;
        }

        .imageMain {
            /* Aplicable a toda imagen dentro de un main */
            @include sizesWH (510px, 420px);
        }
    }

    .conoceIndex {
        position: relative;
        @include sizesWH (90%, 160px);
        left: 5%;
        margin-bottom: 10px;
    }
}

/* Tamaño celular-Página inicio */
@media screen and (max-width:500px) {
    .mainIndex {
        height: 400px;

        section {
            height: 370px;
        }

        .imageMain {
            /* Aplicable a toda imagen dentro de un main */
            @include sizesWH (310px, 350px);
            margin: 3px;
        }
    }

    .conoceIndex {
        height: 200px;
        color: map-get($colors,notSoBlack);

        article {
            @include sizesWH (100%, 80%);
            left: 0;
            top: 10%;
        }
    }

    .topProducts {
        @include sizesWH (100%, auto);
        left: 0;

        article {
            @include flex-column-center;

            .imageProductCont {
                @include sizesWH (310px, 290px);
                padding: 0;

                .imageProduct {
                    @include sizesWH (310px, 290px);
                }
            }
        }
    }

    .mapIndex {
        display: none;
    }
}